.align-center{
    text-align: center;
    padding-left: 350px;
}

.align-middle{
    text-align: center;
    color:white;
    padding-right: 50px;
}

.container{
    padding-left: -100px;
}
    
table, th, td, tr, thead {
    border: 1px solid black;
}

.align{
     text-align: center;
     padding-top: 10px;
     padding-bottom: 50px;

}

.topnav {
    background-color:#333;
    overflow: hidden;

}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;

}
  
.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin: 4px 2px;
    border-radius: 8px;

}

.button2{
    background-color: #e7e7e7; 
    color: black;
}