<html>
    <head>
        <title>Stock market prediction</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style1.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a class="active">
                <img src="NSE_Logo.png" alt="StockMarketing" width="150" height="50"> 
            </a>
            <h1 class="align-middle">NIFTY TREND IDENTIFICATION</h1>
        </div>
          
        <div class="container">
                <img src="niftyImage.jpg" alt="image" width="1503" height="400">
        </div>

        <div class="align">
            <h3>Option contract: Nifty</h3>
            <button class="button1" type="button" class="btn btn-primary">INTRA-DAY PREDICTION</button>
            <button class="button1 button2" type="button" class="btn btn-success">WEEKLY PREDICTION</button>
        </div>

        <div class="align-center">
                <table>
                    <thead>
                        <tr>
                            <th style="border: 0px;" colspan="5">CALLS</th>
                            <th style="border: 0px;">|</th>
                            <th style="border: 0px;" colspan="5">PUTS</th>
                        </tr>
                        <tr>
                            <th>Predicted Trend</th>
                            <th>OI</th>
                            <th>CHNG IN OI</th>
                            <th>VOLUME</th>
                            <th>CHNG</th>
                            <th>STRIKE PRICE</th>
                            <th>CHNG</th>
                            <th>VOLUME</th>
                            <th>CHNG IN OI</th>
                            <th>OI</th>
                            <th>Predicted Trend</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>34</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>34</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>34</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>34</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>34</td>
                            <td>45766</td>
                            <td></td>
                            <td></td>
                            <td>12346</td>
                            <td></td>
                            <td>12345</td>
                            <td></td>
                            <td></td>
                            <td>67990</td>
                            <td></td>
                        </tr>


                    </tbody>
                    
                </table>
        </div>
          
    </body>

</html>
